/*  1. base de reset minimaliste pour le style */

* { box-sizing: border-box;}
html { 
    font-size: 62.5%;
  }
body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
img {
    max-width: 100%;
    display: block;
}  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* container grid propertys */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* background color a gerer */
.header {
    background-color: #D9E9CF;
    display: grid;
    grid-template-columns: auto 1fr;
    padding:1.6rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.navigation a {

    color: black;
    text-decoration: none;
    font-size: 1.6rem;
}

/* background color a gerer */

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 1.6rem;
}   

.article {
    background-color: #F0F0F0;
    border: 2px solid black;
    /* on elimine grid-column car lelement se positionne par defaut dans le premier space */
    /* grid-column: 1; */
}

.sidebar{
    border:4px solid red;
    grid-column: 2;
    grid-row: 1 / 3;
}

.footer {
    display: flex;
    justify-content: center;

}

@media (max-width: 780px) {
    .main-content{
        grid-template-columns: 1fr;
    }
    .sidebar{
        grid-column: 1;
        grid-row: auto;
    }

}
