/* reset */

* {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* General Styles */

body {
font-family: "Montserrat", sans-serif;
background-color: #FFF7DD;
padding: 2rem;
}

/* Typography */

h3 {
    padding: 1.6rem;
    font-size: 2rem;
    font-weight: bold;
    color: #91C4C3;

}

p {
    text-align: center;
    padding: 1.6rem;
    font-size: 1.6rem;
    color: #B4DEBD;

}
/*  button styles */
.buy-button {
    font-weight: bold;
    color: #80A1BA;
    padding: 1.2rem;
}
/* Positioning container Products */

.product-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.product {
    border: 1px solid #80A1BA;
    padding: 1.6rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



